.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.pagination-button {
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  min-width: 100px;
  transition: background-color 0.3s ease;
}

.pagination-button.anterior {
  background-color: #7db2d6; /* azul mais claro */
}

.pagination-button.anterior:hover:not(:disabled) {
  background-color: #659fca;
}

.pagination-button.proxima {
  background-color: #3482b3; /* azul mais escuro */
}

.pagination-button.proxima:hover:not(:disabled) {
  background-color: #2b6c94;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-number {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  min-width: 20px;
  text-align: center;
}
