.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 14px;
}

.title-container .title-text {
  color: #3482b3;
  margin-bottom: -30px;
}

.title-container .title-icon {
  color: #8b8b8b;
  margin-bottom: -30px;
}
