.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  color: #333; 
  padding: 3%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.logo-title {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
 
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 18px;
  color: #666;
  line-height: 1.2;
  margin-left: 15px;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  all: unset;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  cursor: pointer;
}


.menu-container {
  position: relative;
}

/* Botão hambúrguer */
.hamburger {
  position: relative;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 4px;
  margin: 4px 0;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
}

/* Animação do botão quando aberto */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

/* Menu lateral */

.nav-menu {
    position: fixed;
    top: 68px;
    right: 0;
    transform: translateX(100%);
    width: 100%;
    list-style: none;
    background-color: #004b8d;
    color: #f0f0f0;
    margin: 0;
    transition: transform 0.3s ease;
    border-radius: 5px;
    z-index: 5;
}

.nav-menu.show {
  transform: translateX(0);
}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  gap: 5px;
}

.nav-menu li {
  padding: 15px;
}

.nav-menu a {
  text-decoration: none;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
}
